* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 700px;
    height: 500px;
    background-color: white;
    /* margin: 20px; */
}

#searchbar-container {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #57a0ff;
}

#searchbar {
  height: 30px;
  margin-right: 10px;
}

#searchbar[type="search"] {
  font-size: 16px;
  padding: 10px;
}

#search-btn {
  height: 30px;
  width: 75px;
  font-size: 16px;
}

#main-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

details {
  margin: 10px 0;
}

summary {
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  user-select: none;
  cursor: pointer;
}

#search-result-text {
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}