* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
}

#searchbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 100px;
  border: 2px solid gray;
}

#searchbar {
  border: none;
}

#searchbar:focus {
  outline: none;
}

#search-btn {
  border: none;
  background-color: #fff;
  margin-right: 10px;
}

#main-content {
  margin: 0 10px;
}

#main-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

details {
  width: 600px;
}

summary {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #000;
  padding: 10px;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.articleBtn {
  margin-left: auto;
  padding: 5px;
}

#search-result-text {
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

::-webkit-scrollbar {
  background-color: #fff;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(38, 38, 38);
}