* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
    width: 500px;
    height: 300px;
    background-color: white;
    color: black;
    overflow: scroll;
    padding: 15px;
}
  
#main-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  white-space: pre-wrap;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
}
